<%= form_for(@surg_hosp_form) do |f| %>
  <% if @surg_hosp_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surg_hosp_form.errors.count, "error") %> prohibited this surg_hosp_form from being saved:</h2>

      <ul>
      <% @surg_hosp_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Chart Name" %><br>
    <%= f.text_field :name %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit "Create Form" %>
  </div>
    <br>
<% end %>
