<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic_accurate_condition.name %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @clinic_accurate_condition.clinic.name %>
</p>

<%= link_to 'Edit', edit_clinic_accurate_condition_path(@clinic_accurate_condition) %> |
<%= link_to 'Back', clinic_accurate_conditions_path %>
