<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic_omitted_condition.name %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @clinic_omitted_condition.clinic.name %>
</p>

<%= link_to 'Edit', edit_clinic_omitted_condition_path(@clinic_omitted_condition) %> |
<%= link_to 'Back', clinic_omitted_conditions_path %>
