<%= form_for(@clinic_cr_form) do |f| %>
  <% if @clinic_cr_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_cr_form.errors.count, "error") %> prohibited this clinic_cr_form from being saved:</h2>

      <ul>
      <% @clinic_cr_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clinic_id %><br>
    <%= f.collection_select( :clinic_id, Clinic.order(:name), :id, :name, include_blank: true ) %>
  </div>
  <br>
  <div class="field">
    <%= f.label :mysis_id %><br>
    <%= f.number_field :mysis_id %>
  </div>
  <br>
  <div class="field">
    <%= f.label :any_pertinent_conditions, 'Are there any pertienent conditions this calendar year? ' %><br>
    <%= f.select :any_pertinent_conditions, [['Yes, take me to Primary Care Physician'], ['No, take me to the end of the form']] %>
  </div>
  <br>
  <div class="field">
    <%= f.label :clinic_doc_id, 'Provider' %><br>
    <%= f.grouped_collection_select :clinic_doc_id, Clinic.order(:name), :clinic_docs, :name, :id, :name, include_blank: true  %>
  </div>
  <br>
  <div class="field">
    <%= f.label :num_visits_year, 'Number of visits this calendar year' %><br>
    <%= f.number_field :num_visits_year %>
  </div>
  <br>
  <div class="field">
    <%= f.label :clinic_omitted_condition_id, 'Omitted Conditions' %><br>
    <%= f.grouped_collection_select :clinic_omitted_condition_id, Clinic.order(:name), :clinic_omitted_conditions, :name, :id, :name, include_blank: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :clinic_omitted_condition_detail, 'Detail for omitted conditions' %><br>
    <%= f.text_area :clinic_omitted_condition_detail %>
  </div>
  <br>
  <div class="field">
    <%= f.label :clinic_misdiagnosed_condition_id, 'Misdiagnosed Conditions' %><br>
    <%= f.grouped_collection_select :clinic_misdiagnosed_condition_id, Clinic.order(:name), :clinic_misdiagnosed_conditions, :name, :id, :name, include_blank: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :clinic_misdiagnosed_condition_detail, 'Detail for misdiagnosed conditions' %><br>
    <%= f.text_area :clinic_misdiagnosed_condition_detail %>
  </div>
  <br>
  <div class="field">
    <%= f.label :clinic_accurate_condition_id, 'Accurately Captured Conditions ' %><br>
    <%= f.grouped_collection_select :clinic_accurate_condition_id, Clinic.order(:name), :clinic_accurate_conditions, :name, :id, :name, include_blank: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :additional_providers, 'Additional Providers' %><br>
    <p>If there are more than 10 providers, list the provider and conditions that were omitted (with the accompanying sentence), misdiagnosed (with the accompanying sentence) and accurately captured in the text box below:</p>
    <%= f.text_area :additional_providers %>
  </div>
  <br>
  <div class="field">
    <%= f.label :actual_condition_tally %><br>
    <%= f.number_field :actual_condition_tally %>
  </div>
  <br>
  <div class="field">
    <%= f.label :captured_condition_tally %><br>
    <%= f.number_field :captured_condition_tally %>
  </div>
  <br>
  <div class="field">
    <%= f.label :misdiagnosed_condition_tally %><br>
    <%= f.number_field :misdiagnosed_condition_tally %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit Form" %>
  </div>
  <br>
<% end %>
