<%= form_for(@surgery_doc) do |f| %>
  <% if @surgery_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgery_doc.errors.count, "error") %> prohibited this surgery_doc from being saved:</h2>

      <ul>
      <% @surgery_doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :surgery_type, class: 'control-group' %>
    <div class="controls">
      <%= f.collection_select( :surgery_type_id, SurgeryType.all, :id, :name, {:prompt => "Select a surgery type"}, {:id => 'surgery_type_select'} ) %>
    </div>
  </div>

    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

