<p id="notice"><%= notice %></p>

<h1>Listing Clinic Misdiagnosed Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Clinic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinic_misdiagnosed_conditions.each do |clinic_misdiagnosed_condition| %>
      <tr>
        <td><%= clinic_misdiagnosed_condition.name %></td>
        <td><%= clinic_misdiagnosed_condition.clinic.name if clinic_misdiagnosed_condition.clinic and clinic_misdiagnosed_condition.clinic.name %></td>
        <td><%= link_to 'Show', clinic_misdiagnosed_condition %></td>
        <td><%= link_to 'Edit', edit_clinic_misdiagnosed_condition_path(clinic_misdiagnosed_condition) %></td>
        <td><%= link_to 'Destroy', clinic_misdiagnosed_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinic misdiagnosed condition', new_clinic_misdiagnosed_condition_path %>

<h3>Import Clinic Conditions</h3>
<br>
<%= form_tag import_clinic_misdiagnosed_conditions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Clinic Conditions" %>
<% end %>