<%= form_for(@shf_omitted_condition) do |f| %>
  <% if @shf_omitted_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shf_omitted_condition.errors.count, "error") %> prohibited this shf_omitted_condition from being saved:</h2>

      <ul>
      <% @shf_omitted_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <br>
    <div class="control-group">
      <%= f.label :surg_hosp_form, 'Surgery/Hospital Form', class: 'control-group' %>
      <div class="controls">
        <%= f.collection_select( :surg_hosp_form_id, SurgHospForm.all, :id, :name, {:prompt => "Select a Form"}, {:id => 'Form_select'} ) %>
      </div>
    </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
